body{
    overflow: hidden;
    overflow-x: hidden;
    font-family: 'Roboto Mono', monospace;
    background: url("/static/images/bg2.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
}

.navbar-nav{
    font-size: 20px;     
}

.navbar-nav li :hover{
    color: #2a9d8f;    
    border-bottom: 2px solid #2a9d8f;
}

.nav-two{
    margin-left: 40px;
}

.content-1{
    margin-top: 10px;
}
h1{
    text-align: center;
}

.text-content{
    text-align: center;
    margin: auto;
}

.tab-content-2{
    height: 300px;
    border: 2px solid rgb(131, 130, 130);
    border-radius: 4px;
    padding: 3px;
    margin: auto;
    background-color: white;
}
form{
    padding-top: 20px;
}

textarea{
    width: 90%;
    height: 170px;
}